<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="yourCardsAre_1_" value="Ваши карты:"/>
    <add key="enterInteger_1_" value="Необходимо ввести число"/>
    <add key="enterNotBiggerThan_2_" value="Введите число не более"/>
    <add key="enterPositiveNumber_3_" value="Введите положительное число"/>
    <add key="cardOnTableAre_2_" value="На столе лежат эти карты:"/>
    <add key="chooseAttackCard_3_" value="Выберите карту для атаки или наберите 100 чтобы передать ход"/>
    <add key="youMayUseTheseCards_4_" value="Вы можете использовать эти карты"/>
    <add key="youCannotUseCard_5_" value="Эта карта не подходит"/>
    <add key="haveNoCardsToAttack_6_" value="У вас нет карт для атаки, нажмите любую клавишу для продолжения"/>
    <add key="chooseDefendCard_7_" value="Выберите карту для того чтобы отбиться!"/>
    <add key="chooseToTakeAllCards_8_" value="Наберите 0 чтобы взять карты"/>
    <add key="youTakeAllCards_9_" value="Вам пришлось взять все карты со стола"/>
    <add key="haveNoCardsToDefend_10_" value="У вас нет карт отбить атаку, нажмите любую клавишу чтобы взять"/>
    <add key="numberOfCards_1_" value="6"/>
    <add key="cardNames_2_" value="Шестерка,Семерка,Воскмерка,Девятка,Десять,Валет,Дама,Король,Туз"/>
    <add key="cardSuits_3_" value="Буби,Пики,Крести,Червы"/>
    <add key="strategy_1_4_" value="А"/>
    <add key="strategy_2_5_" value="Б"/>
    <add key="strategy_Human_6_" value="Ч"/>
    <add key="WantToContinue_7_" value="+"/>
    <add key="enterNotLessThan10_4_" value="Введите не более 10 символов"/>
    <add key="userNameNotEmpty_5_" value="Имя не может быть пустым"/>
    <add key="noSuchStrategy_6_" value="Tакого типа игры не предусмотрено"/>
    <add key="welcome_11_" value="Добро пожаловать поиграть в Дурака!!!"/>
    <add key="enterName_12_" value="Введите Ваше имя и нажмите Enter"/>
    <add key="hello_13_" value="Привет"/>
    <add key="enterCpuStrategy_14_" value="Выберите тип игры компьютера и нажмите Enter"/>
    <add key="firstVar_15_" value="Вариант 1"/>
    <add key="secondVar_16_" value="Вариант 2"/>
    <add key="trumpCardIs_17_" value="В этот раз выпал козырь:"/>
    <add key="yourTurn_18_" value="Ваша очередь атаковать"/>
    <add key="thereIs_19_" value="Насчитал "/>
    <add key="cardsInCpuHands_20_" value="карт на руках у компьютера"/>
    <add key="cardsInDeck_21_" value="карт в колоде"/>
    <add key="turnChanges_22_" value="Переход хода"/>
    <add key="cpuTurn_23_" value="Очередь атаки компьютера!"/>
    <add key="drawThisTime_24_" value="В этот раз ничья!!!!!!"/>
    <add key="congratulations_25_" value="Поздравления "/>
    <add key="youAreWinner_26_" value="Вы победили!!!!!!"/>
    <add key="youLoseThisGame_27_" value="Вы проиграли :("/>
    <add key="press_28_" value="Нажмите"/>
    <add key="toStartAgain_29_" value="чтобы начать заново и нажмите Enter"/>
    <add key="cpuHasNoAttackCard_30_" value="У компьютера нет карт для атаки, нажмите любую клавишу для продолжения"/>
    <add key="cpuAttackedYouWith_31_" value="Компьютер атакует картой - "/>
    <add key="cpuBeatWith_32_" value="Компьютер отбился картой -"/>
    <add key="cpuHasNoDefendCard_33_" value="У компьютера нет карт отбиться, нажмите любую клавишу для продолжения"/>
  </appSettings>
</configuration>