<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
    <add key="yourCardsAre_1_" value="Your cards are:"/>
    <add key="enterInteger_1_" value="You should enter a integer"/>
    <add key="enterNotBiggerThan_2_" value="Enter not bigger than"/>
    <add key="enterPositiveNumber_3_" value="Enter positive number"/>
    <add key="cardOnTableAre_2_" value="Cards on table are:"/>
    <add key="chooseAttackCard_3_" value="Choose the card to attack or print 100 to skip!"/>
    <add key="youMayUseTheseCards_4_" value="You may use these card(s):"/>
    <add key="youCannotUseCard_5_" value="You can not use this card"/>
    <add key="haveNoCardsToAttack_6_" value="You have no cards to attack, press any key to continue"/>
    <add key="chooseDefendCard_7_" value="Choose the card to defense!"/>
    <add key="chooseToTakeAllCards_8_" value="Choose 0 to take all cards on the table on hands"/>
    <add key="youTakeAllCards_9_" value="You take all the cards from table!"/>
    <add key="haveNoCardsToDefend_10_" value="You have no cards to defend, press any key to take cards"/>
    <add key="numberOfCards_1_" value="6"/>
    <add key="cardNames_2_" value="Six,Seven,Eight,Nine,Ten,Jack,Lady,King,Ace"/>
    <add key="cardSuits_3_" value="Diamonds,Spades,Clubs,Hearts"/>
    <add key="strategy_1_4_" value="A"/>
    <add key="strategy_2_5_" value="B"/>
    <add key="strategy_Human_6_" value="H"/>
    <add key="WantToContinue_7_" value="Y"/>
    <add key="enterNotLessThan10_4_" value="Enter not less than 10 characters"/>
    <add key="userNameNotEmpty_5_" value="User name can not be empty"/>
    <add key="noSuchStrategy_6_" value="There is no such strategy"/>
    <add key="welcome_11_" value="Welcome to DURAK game!!!"/>
    <add key="enterName_12_" value="Enter YOUR name and press Enter button:"/>
    <add key="hello_13_" value="Hello"/>
    <add key="enterCpuStrategy_14_" value="Enter Computer strategy type and press Enter button:"/>
    <add key="firstVar_15_" value="First Variant"/>
    <add key="secondVar_16_" value="Second Variant"/>
    <add key="trumpCardIs_17_" value="This time your Trump card is"/>
    <add key="yourTurn_18_" value="Your turn to GO!"/>
    <add key="thereIs_19_" value="There is(are)"/>
    <add key="cardsInCpuHands_20_" value="card(s) in CPU hands"/>
    <add key="cardsInDeck_21_" value="card(s) in Deck"/>
    <add key="turnChanges_22_" value="Turn changes"/>
    <add key="cpuTurn_23_" value="CPU's turn to GO!"/>
    <add key="drawThisTime_24_" value="It is draw in this Game!!!!!!"/>
    <add key="congratulations_25_" value="Congratulations"/>
    <add key="youAreWinner_26_" value="you are winner!!!!!!"/>
    <add key="youLoseThisGame_27_" value="you lose this time"/>
    <add key="press_28_" value="Press"/>
    <add key="toStartAgain_29_" value="to start again or any button to EXIT"/>
    <add key="cpuHasNoAttackCard_30_" value="CPU has no cards to attack, press any key to continue"/>
    <add key="cpuAttackedYouWith_31_" value="CPU attacked you with"/>
    <add key="cpuBeatWith_32_" value="CPU beat with"/>
    <add key="cpuHasNoDefendCard_33_" value="CPU has no cards to defend, press any key to continue"/>
  </appSettings>
</configuration>

