<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Message" value="Choose language and press Enter: 1- English, 2 - Русский"/>
    <add key="Message_" value="You should enter an integer"/>
    <add key="Message__" value="Choose 1 or 2"/>
    <add key="PathEng" value="C:\Users\User\source\repos\Durak\Durak_work\Durak\App-eng.config"/>
    <add key="PathRus" value="C:\Users\User\source\repos\Durak\Durak_work\Durak\App-rus.config"/>
  </appSettings>
</configuration>